@model Repair

@{
    ViewData["Title"] = "Detail Page";
    ViewBag.Description = "Model.Description";

}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="card-my-4 mt-5">
                Appliances Repair Page Of
                <br><small>@DateTime.Now.Year</small>
            </h1>
            <hr />
            @if (!String.IsNullOrEmpty(Model.ImageUrl))
            {
                var image_path = $"/Image/{Model.ImageUrl}";
                <img style="width:100%" class="img-thumbnail" src="@image_path" />}

        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">@Model.RepairType</h1>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-black-50">@Model.Location</h5>
                    <div class="card-text">
                        @Html.Raw(Model.Description)
                    </div>
                    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">Back to list</a>
                </div>
                <div class="card-footer">
                    Serving @Model.AreaCover And More Call Us
                </div>
            </div>
        </div>
    </div>
</div>